.App {
  text-align: center;
}

body {
  padding-top:56px;
  font-weight: 400;
  color: #1f1f1f;
  line-height: 1.5;
  word-break: keep-all;
  word-wrap: break-word;
  letter-spacing: -0.5px;
}


.navbar {
  /* navbar 상단에 고정시키기 */
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
}

.inner {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 1240px;
}

.title2 {
  font-size: 32px;
  color: #24282b;
  font-weight: 500;
  line-height: 1;
  margin-top: 75px;
  border-bottom: 1px solid #24282b;
  padding-bottom: 24px;
  margin-bottom: 50px;
  letter-spacing: -1px;
  

  text-align:left;
}



.join-bg {
  height: 300px;
  background-image: url('./img/join-bg.png');
  background-size: cover;
  background-position: center;
}

.join-bg h2 {
  padding-top: 135px;
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -1px;
}

.join_wrap {
  min-width: 984px;
  text-align: center;
}

.join_inner {
  padding-top: 50px;
}

.inner p {
  margin-bottom: 52px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 44px;
}

.join_wrap .form_group {
  display: table;
  padding: 0;
  width: 100%;
  border-bottom: 0;
}

.join_wrap .form_group .title {
  position: relative;
  display: table-cell;
  margin-bottom: 0;
  padding-top: 22px;
  padding-left: 1.75%;
  width: 16.083333%;
  height: 70px;
  font-size: 16px;
  color: #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
  vertical-align: top;
}

.join_wrap .form_group .cont {
  display: table-cell;
  padding: 7px 0 7px 0;
  width: 83.916666%;
  border-bottom: 1px solid #f0f5f8;
  vertical-align: middle;
}

.join_wrap .form_group .cont .input_box {
  margin-left: 3.17%;
  margin-right: 1.98%;
}

.input_box input {
  align-items: center;
  padding-left: 19px;
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  border: 1px solid #ccd5dc;
  width: 930px;
  height: 53px;
}





















.input-form {
  max-width: 680px;

  margin-top: 80px;
  padding: 32px;

  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}



/* 
.join_wrap {
  min-width: 984px;
}

.form_wrap {
  background-color: rgb(199, 239, 255);
}

@media only screen and (max-width: 1020px){
  .join_wrap {
    width: 100%;
    height: 0px;
    background-color: pink;
  }
} */


/* 싸피 반응형 UI
@media only screen and (max-width: 1020px)
body:not(.non_respons) .join_wrap .form_group .title {
    position: relative;
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
    color: #1f1f1f;
    border-top: 0px !important;
    border-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    width: 100%;
    height: 0px;
} */
