.App {
  text-align: center;
}

body {

  font-weight: 400;
  color: #1f1f1f;
  line-height: 1.5;
  word-break: keep-all;
  word-wrap: break-word;
  letter-spacing: -0.5px;
}

.navbar {
  /* navbar 상단에 고정시키기 */
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
}