.App {
  text-align: center;
}

body {

  font-weight: 400;
  color: #1f1f1f;
  line-height: 1.5;
  word-break: keep-all;
  word-wrap: break-word;
  letter-spacing: -0.5px;
}

.navbar {
  /* navbar 상단에 고정시키기 */
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
}


/* comment */
.comment_container {
  display:flex;
  justify-content:top;
}
.comment_textarea {
  border:0;
  width:95%;
  height:80px;
  outline:none;
  resize: none;
}

.comment_submit{
  border:0;
  width:5%;
  height:80px;
}

/* editing form */
.editing_container {
  display:flex;
  justify-content:top;
}
.editing_textarea {
  border:0;
  width:100%;
  height:80px;
  outline:none;
  resize: none;
}


/* BoardFactory */
.board_title {
  width:800px;
  padding:10px 5px 10px 5px;
  font-size:20px;
  border:0;
  outline:none;
  resize: none;
}

/* Home */
.board_tr:hover {
  background-color:rgb(244, 244, 244);
}